<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.instagram.com/">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.facebook.com/">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="https://www.google.com/">
        <i class="fa-brands fa-google"></i>
      </a>
      <a href="https://x.com/">
        <i class="fa-solid fa-x"></i>
      </a>
    </div>

    <div class="f-info-brand">
      © Wanderlust private limited
    </div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <span>  </span>
      <a href="/Terms">Terms</a>
    </div>
  </div>
</footer>
