<nav class="navbar navbar-expand-md border-bottom sticky-top bg-white">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <i class="fa-solid fa-compass"></i>
      <span class="ms-2 fw-semibold">Explore</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- CENTER SEARCH BAR -->
      <div class="mx-auto">
        <form class="d-flex search-form" role="search" method="GET" action="/listings/search">
          <input
            type="search"
            name="q"
            placeholder="Search destination"
            class="search-input"
            required
          />
          <button class="search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          </button>
        </form>
      </div>

      <!-- RIGHT NAV LINKS -->
      <div class="navbar-nav ms-auto align-items-center">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
<!-- <a class="nav-link" href="/listings/new">Airbnb your home</a> -->

<% if (currentUser) { %>
 <a class="nav-link" href="/bookings">Booking Details</a>
<% } %>



        <% if(!currentUser){ %>
          <a class="nav-link fw-semibold" href="/signup">Signup</a>
          <a class="nav-link fw-semibold" href="/login">Login</a>
        <% } %>

        <% if(currentUser){ %>
          <a class="nav-link fw-semibold" href="/logout">Log out</a>
        <% } %>
      </div>

    </div>
  </div>
</nav>
