body{
    font-family: "plus-jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}
.nav-link{
    color: #222222!important;
}
/*cards*/
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
   
}
.card-img-top{
    border-radius: 1rem!important;
    width: 100%!important;
    height: 20rem !important;
    object-fit: cover!important;
}
.card-body{
    padding: 0rem!important;
}
.card-text p{
font-weight: 400!important;
}
.listing-link{
    text-decoration: none!important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:rgb(255, 255, 255)!important; ;
}
   

.f-info-links a{
    text-decoration: none!important;
    color: #222222!important;
}
.f-info-links a:hover{
    color: #fe424d!important;
    text-decoration: underline!important;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    right: 0;
    z-index: 1000;
}

.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
}
.container{
    flex: 1;
    padding: 2rem;
}
.add-btn{
     background-color: #fe424d!important;
     border: none!important;
}
.show-img{
    height:30vh ;
}
.btns{
    display: flex;
}
.show-card{
    padding-left:0 ;
    padding-right: 0;
}
.invalid-feedback{
    color: #fe424d;
}
.reviews{
    color: rgb(193, 14, 14);
};
.fa-square-facebook{
    background-color: #fe424d;
}